.main {
  &Wrap {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
  }

  text-align: center;
  h1 {
    margin-top: 22.2vh;
    font-size: 4.44vw;
    font-weight: 900;
    transition: margin-top $transition_mainPage;
  }

  &.active h1 {
    margin-top: 5vh;
  }

  & > p {
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 5.55vw;
    transition: margin-bottom $transition_mainPage;

    &.active {
      margin-bottom: 2vw;
    }
  }

  &__searchArea {
    margin: 0 auto;
    margin-bottom: 2.5vw;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.background {
  &Main {
    position: fixed;
    z-index: -1;
    display: block;
    width: calc(100vw * 1.5);
    height: calc(100vh * 1.5);
    top: calc(100vh * 1.5 / 6 * -1);
    left: calc(100vw * 1.5 / 6 * -1);

    .frontCover {
      background-color: rgba(#000, 0.6);
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .YT_Copyright {
      position: fixed;
      right: 10px;
      bottom: 10px;
      margin-bottom: 0;
      font-size: 10px;
      color: rgba(#fff, 0.2);
    }
  }

  &Movie {
    width: 100%;
    height: 100%;
  }

  &MainImage {
    position: fixed;
    z-index: -1;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(./../../../img/background_image_main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
