.header {
  &--moviePage {
    background-color: $background-main;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
    }
  }

  &__logo {
    margin-right: 30px;
    background-color: rgba(#fff, 0.15);
    border-radius: 20px;
    @extend %flex-center;
    padding: 10px;
    max-height: 60px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px transparent;
    transition: 0.2s;

    &:hover {
      background-color: rgba(#fff, 0.3);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__searchArea {
    position: relative;

    &.active {
      .cards-list--movie {
        max-height: 80vh;
        padding: 10px;

        // Почему выше не написано просто .cards-list--movie:not(:empty) ?
        // Потому что в Firefox это, как ни странно, не работало так, как должно.

        &:empty {
          max-height: 0;
          padding: 0;
        }
      }
    }

    .cards-list--movie {
      position: absolute;
      z-index: 997;
      overflow-y: auto;
      top: calc(2.77rem + 20px);
      left: 0;
      right: 0;
      background-color: rgba($card-color, 0.5);
      border-radius: 10px;
      max-height: 0;
      padding: 0;
      padding-bottom: 0;
      transition: max-height 0.5s, padding 0.5s;

      .card {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 14px;

        .card__info-top {
          p {
            font-size: 16px;
          }
        }

        &--loadMore {
          margin-top: 10px;
        }
      }
    }
  }
}

.movie-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 80px);
  max-height: 120vh;

  .container {
    align-self: stretch;
    display: flex;
  }

  &__images-wrap,
  &__img,
  .backgroundMovieImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__images-wrap {
    z-index: -1;
    overflow: hidden;

    &.hidden img {
      opacity: 0;
    }

    .backgroundCSSImage {
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    z-index: -3;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 3s;
    opacity: 0;

    &.isShowed {
      opacity: 1;
    }
  }

  &__gradient {
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #111 19%, rgba(#111, 0) 100%);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.42em;
    font-size: 72px;
    font-weight: 900;

    &.long {
      font-size: 52px;
    }
  }

  &__info,
  &__info-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__info {
    max-width: 70%;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;

    .imdb-rate {
      margin-right: 24px;
    }

    .movie-info-description {
      font-weight: 600;
      flex-wrap: nowrap;

      p + p {
        border-width: 2px;
        padding-left: 24px;
        margin-left: 24px;
      }
    }
  }

  &__info-top {
    font-size: 24px;
  }

  &__info-bottom {
    max-width: 55%;
    font-weight: 600;
  }

  &__btn {
    background-color: transparent;
    padding: 22px 70px;
    border-radius: 40px;
    border: 2px solid $text-main;
    font-size: inherit;
    font-weight: inherit;
    transition: 0.2s;
    position: relative;

    &:hover {
      background-color: $accent;
      border-color: $accent;
    }

    &:active {
      background-color: darken($accent, 25);
      border-color: darken($accent, 25);
    }

    &:focus::after {
      content: 'Видео не включится, это тестовый сайт';
      position: absolute;
      left: 0;
      top: 110%;
      font-size: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.movie-info {
  background-color: $text-main;
  color: #323232;
  padding-top: 60px;
  padding-bottom: 60px;

  &__description {
    max-width: 70%;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 900;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__similars {
    &-heading {
      font-weight: 900;
      font-size: 1.333rem;
      margin-bottom: 30px;
    }
  }

  &__slider {
    margin: 0 -15px;

    .slick-track {
      display: flex;
      align-items: stretch;

      .slick-slide {
        height: auto;
        display: flex;
        align-items: stretch;
        margin: 0 15px;

        .card {
          height: 100%;
        }

        & > div {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  @extend %flex-center;
  font-weight: 900;
  padding: 40px 0;
}

@media (min-aspect-ratio: 3/2) {
  .movie-preview {
    &__images-wrap.once img {
      max-height: 120vh;
      object-fit: contain;
      height: auto;
    }

    &__img {
      max-height: 150vh;
      height: auto;
    }
  }
}

@media (max-width: 1024px) {
  .movie-preview {
    &__title {
      font-size: 48px;
    }

    &__btn {
      padding: 15px 50px;

      &:focus::after {
        left: 110%;
        top: -30%;
      }
    }

    &__info {
      &-top {
        font-size: 1rem;
      }

      .movie-info-description {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;

        .imdb-rate {
          margin-bottom: 1rem;
        }

        p + p {
          border: none;
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
  }

  .movie-info {
    font-size: 16px;

    h2 {
      font-size: 28px;
    }
  }
}

@media (max-width: 800px) {
  .movie-info__description,
  .movie-preview__info {
    max-width: none;
  }

  .movie-preview {
    &__title {
      font-size: 28px;
    }
  }

  .movie-info {
    font-size: 14px;

    h2 {
      font-size: 18px;
    }
  }
}

@media (max-width: 639px) {
  .header__searchArea {
    display: none;
  }
}
