@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import './variables.scss';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: $text-main;
}

body {
  background-color: $background-main;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  cursor: pointer;
  color: inherit;
  display: flex;
  place-items: center;

  svg {
    max-height: 100%;
    max-width: 100%;
  }
}

input,
button {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

@import './js/react_components/ui/lists/CardsList';
@import './js/react_components/pages/MainPage';
@import './js/react_components/pages/MoviePage';
@import './js/react_components/pages/ErrorPage';
@import './js/react_components/ui/inputs/InputMain';
@import './js/react_components/ui/inputs/InputHeader';
@import './js/react_components/ui/cards/Card';
@import './js/react_components/ui/cards/CardSlick';

.imdb-rate {
  background-color: #fac539;
  border-radius: 8px;
  padding: 7px 12px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 12px;
  font-weight: 900;
}

.movie-info-description {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  p + p {
    border-left: 1px solid $text-main;
    padding-left: 10px;
    margin-left: 10px;
  }
}

.backgroundCSSImage {
  background-color: $background-main;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@media (max-width: 1024px) {
  .cards-list--movie {
    .movie-info-description {
      flex-direction: column;
      align-items: flex-start;

      p + p {
        border: none;
        padding-left: 0;
        margin-left: 0;
      }
    }

    .imdb-rate {
      font-size: 10px;
      padding: 5px 8px;
    }
  }
}

@media (max-width: 639px) {
  .movie-info-description {
    flex-direction: column;
    align-items: flex-start;

    p + p {
      border: none;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .imdb-rate {
    font-size: 10px;
    padding: 5px 8px;
  }
}
